<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body th:class="card-body">

<div th:class="container-fluid">
    <div th:class="card">
        <div class="card-body">
            <table th:class="table">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Bank</th>
                </tr>
                </thead>

                <tbody>
                <tr th:if="${cards.empty}">
                    <td th:colspan="2">No Cards Available</td>
                </tr>
                <tr th:each="card : ${cards}">
                    <td><span th:text="${card.cardNumber}"></span></td>
                    <td><span th:text="${card.cardName}"></span></td>
                    <td><span th:text="${card.bankName}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>